################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestWebProject/bin/Debug
/packages
/.vs/TestWebProject/v15/Server/sqlite3
/TestWebProject/obj
/.vs/TestWebProject/v15
